<!-- Contenido principal -->
<div class="flex h-full w-full items-center justify-center text-white p-6">
  <div id="content-home" class="h-[50vh] w-1/3 p-4 rounded-lg mr-3">
    <h1 class="mb-4 inline-block">Bienvenidos a registro de Usuario</h1>
    <p class="text-lg font-thin text-left">
      En este proyecto de angular se creara un registro de usuarios, usaremos
      Express.js para crear un servidor que maneje la base de datos hecha en
      mySQL
    </p>
    <p class="text-lg font-thin text-left mb-8">
      Por favor, utiliza los botones de registrarse o de login para poner en
      marcha el proyecto.
    </p>
    <div class="space-x-4 mt-8" id="botones">
      <button
        routerLink="registro"
      >
        <span class="button_top"  > Registrarse</span>
      </button>
      <button routerLink="login" class="">
        <span class="button_top"> Iniciar sesión</span>
      </button>
    </div>
  </div>
  <div id="content-home-img" class="w-1/2 flex justify-center">
    <img
      src="../../assets/img/form.png"
      class=""
      alt=""
    />
  </div>
</div>
