
<div class="wrapper">
  <div class="card-switch">
    <div class="flip-card__inner">
      <div class="flip-card__front">
        <div class="title font-roboto_condensed">{{ titulo }}</div>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flip-card__form">
          <ng-container *ngFor="let campo of campos">
            <input
              [type]="obtenerTipoInput(campo)"
              [id]="campo"
              formControlName="{{ campo }}"
              [placeholder]="obtenerTextoPlaceholder(campo)"
              class="flip-card__input"
            />
          </ng-container>

          <button type="submit" class="flip-card__btn">Ingresar</button>
          <div *ngIf="!form.valid && form.touched" class="validation-message flex justify-center items-center text-white">
            El formulario no es válido
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
